<section class="thirteen columns">
    <h1>Education</h1>
    <article>
        <header>
            <h1>포항공대 무은재학부</h1>
            <span>포항공대</span>
            <span><address>포항, 한국</address><time>2024 to</time></span>
        </header>
        <p>
            <em>2024년 1월 12일 안산 소재 고등학교인 안산고잔고등학교를 졸업하여 2024년 2월 포항공대에 입학하게 되었다.</em>
        </p>
    </article>
    <article>
        <header>
            <h1>컴퓨터 공학과</h1>
            <span>포항공대</span>
            <span><address>포항, 한국</address><time>희망 중</time></span>
        </header>
        <p>
            <em>소프트웨어를 다루는 것에 관심을 가지고 있고 해당 분야에 대한 기술들을 직접 배우면서 
                     소프트웨어 관련 회사에 취직하고 싶다.....그러나 아직 배울 것들이 많다
            </em>
        </p>
    </article>
    
</section>
