<section class="thirteen columns">
    <h1>봉사활동</h1>
    <article>
        <header>
            <h1>안산 시청 보육원 재능기부</h1>
            <span><address>안산, 한국</address><time>2020</time></span>
        </header>
        <p>
           안산 시청에서 진행한 보육원 아이들 대상으로 한 재능기부 봉사활동에 참가해 초등학교 5,6학년 대상으로 수학 관련 재능기부를 했었다.
        </p>
    </article>
    <article>
        <header>
            <h1>국립 과천 과학관 학생 봉사활동</h1>
            <span><address>과천, 안산</address><time>2021</time></span>
        </header>
        <p>
            학생 봉사활동으로 방문객 안내와 관람물에 대한 간단한 설명을 제공하는 봉사활동이었다.
        </p>
    </article>
</section>